.p-select.custom-select {
  --p-select-background: var(--color-white);
  --p-select-color: var(--color-black);
  --p-select-border-color: var(--color-gray-200);
  --p-select-hover-border-color: var(--color-gray-200);
  --p-select-focus-border-color: var(--color-gray-200);
  /* --p-select-focus-ring-color: var(--color-red-800);
  --p-select-focus-ring-offset: var(--color-red-800);
  --p-select-focus-ring-shadow: var(--color-red-800); */
}

.custom-select.p-select:not(.p-disabled).p-focus {
  @apply shadow shadow-indigo-500 outline-2 outline-offset-0 outline-indigo-300;
}

.p-select.custom-select-label {
  --p-select-color: var(--color-black);
}

.p-select-overlay.custom-select-overlay {
  --p-select-overlay-border-color: var(--color-gray-200);
  --p-select-overlay-background: var(--color-white);
  /* --p-select-overlay-color: var(--color-black); */
}

.p-select-option.custom-select-option {
  --p-select-option-focus-background: var(--color-transparent);
  --p-select-option-selected-background: var(--color-gray-100);
  --p-select-option-selected-focus-background: var(--color-gray-100);

  --p-select-option-color: var(--color-black);
  --p-select-option-focus-color: var(--color-indigo-500);
  --p-select-option-selected-color: var(--color-indigo-500);
  --p-select-option-selected-focus-color: var(--color-indigo-500);
}
