.p-inputtext.custom-inputtext,
.p-inputnumber.custom-inputnumber > .p-inputtext {
  --p-inputtext-background: var(--color-white);
  --p-inputtext-color: var(--color-black);
  --p-inputtext-border-color: var(--color-gray-200);
  --p-inputtext-hover-border-color: var(--color-gray-200);
  --p-inputtext-focus-border-color: var(--color-indigo-200);
  /* --p-inputtext-focus-ring-color: var(--color-red-800);
  --p-inputtext-focus-ring-offset: var(--color-red-800);
  --p-inputtext-focus-ring-shadow: var(--color-red-800); */
}

.p-inputtext.custom-inputtext,
.p-inputnumber.custom-inputnumber > .p-inputtext {
  @apply enabled:focus:shadow enabled:focus:shadow-indigo-500 enabled:focus:outline-2 enabled:focus:outline-offset-0 enabled:focus:outline-indigo-300;
}

.p-inputnumber.custom-inputnumber > .p-inputtext {
  /* --p-inputtext-background: var(--color-red-200); */
}
