.p-datatable.custom-dt-table {
  --p-datatable-border-color: var(--color-transparent);
}

.p-datatable-header.custom-dt-header {
  @apply rounded-t-2xl;

  --p-datatable-header-background: var(--color-white);
  --p-datatable-header-border-color: var(--color-transparent);
  --p-datatable-header-color: var(--color-black);
  --p-datatable-header-padding: 1rem;
}

.p-datatable-table.custom-dt-table {
  @apply border-t border-t-gray-200 text-sm;
  /* --p-datatable-border-color: var(--color-gray-200); */
}

.p-datatable-table.custom-dt-table > .p-datatable-thead {
  --p-datatable-header-cell-background: var(--color-white);
  --p-datatable-header-cell-color: var(--color-indigo-700);
  --p-datatable-header-cell-border-color: var(--color-gray-200);
}

.p-datatable-table.custom-dt-table > .p-datatable-tbody {
  --p-datatable-row-background: var(--color-white);
  --p-datatable-row-hover-background: var(--color-red-800);
  --p-datatable-row-color: var(--color-black);
}

.p-datatable-table.custom-dt-table > .p-datatable-tbody tr {
  @apply border-gray-50 hover:bg-gray-50;
}

.p-datatable-table.custom-dt-table > .p-datatable-tbody tr td {
  @apply border-gray-200 py-1;
}

.p-datatable-table.custom-dt-table > .p-datatable-tbody tr td .p-button {
  @apply m-0 p-1;
}

.p-datatable-table.custom-dt-table > .p-datatable-tbody tr td .p-button .p-icon {
  @apply text-sm;
}

.p-datatable-table.custom-dt-table
  > .p-datatable-tbody
  tr
  td
  .p-button.p-datatable-row-editor-save {
  @apply text-green-500 hover:bg-green-100 hover:text-green-600;
}

.p-datatable-table.custom-dt-table
  > .p-datatable-tbody
  tr
  td
  .p-button.p-datatable-row-editor-cancel {
  @apply text-red-500 hover:bg-red-100 hover:text-red-600;
}

.p-datatable-table.custom-dt-table
  > .p-datatable-tbody
  tr
  td
  .p-button.p-datatable-row-editor-init {
  @apply text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600;
}

.p-datatable-footer.custom-dt-footer {
  @apply rounded-lg border-0 bg-white py-0;
}
