@theme {
  --font-poppins: Poppins, sans-serif;

  --color-avocado: RGBA(0, 204, 102, 1);

  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;

  --color-primary-50: #f0fce9;
  --color-primary-100: #def8cf;
  --color-primary-200: #bef2a4;
  --color-primary-300: #95e76f;
  --color-primary-400: #71d843;
  --color-primary-500: #50be24;
  --color-primary-600: #41a71b;
  --color-primary-700: #2f7417;
  --color-primary-800: #295c18;
  --color-primary-900: #254e19;
  --color-primary-950: #0f2b08;

  --color-secondary-100: #dde0ff;
  --color-secondary-200: #c2c6ff;
  --color-secondary-300: #adb0ff;
  --color-secondary-400: #7c75ff;
  --color-secondary-50: #eceeff;
  --color-secondary-500: #6954ff;
  --color-secondary-600: #5c36f5;
  --color-secondary-700: #502ad8;
  --color-secondary-800: #4125ae;
  --color-secondary-900: #372689;
  --color-secondary-950: #221650;

  --color-accent-100: #fdead7;
  --color-accent-200: #fad1ae;
  --color-accent-300: #f7af7a;
  --color-accent-400: #f28445;
  --color-accent-50: #fef6ee;
  --color-accent-500: #ee5f1a;
  --color-accent-600: #e04a16;
  --color-accent-700: #ba3714;
  --color-accent-800: #942d18;
  --color-accent-900: #772717;
  --color-accent-950: #40110a;
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */
